.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
}

.navbar-actions {
  display: none;
}

.navbar-actions ul {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.navbar-actions li {
  font-size: 16px;
  color: #202938;
  font-weight: 600;
  margin-right: 15px;
}

.navbar-actions a {
  text-decoration: none;
  color: #202938;
}

.navbar-button button {
  display: none;
  padding: 10px 20px;
  background-color: #444BF7;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 50px;
}

// hamburger menu 
.navbar-toggle {
  display: flex;
}

@media screen and (min-width: 1100px) {

  .navbar-button button {
    display: none;
  }

  .navbar-button button {
    display: block;
  }

  .navbar-actions {
    display: block;
    flex-grow: 1;
  }

  .navbar-toggle {
    display: none;
  }

  // display the links as a horizontal list for larger screens
  .navbar-actions ul {
    flex-direction: row;
    justify-content: flex-end;
    position: static;
    max-height: none;
    overflow: visible;
  }

  .navbar-actions li {
    margin-right: 15px;
    margin-left: 0;
  }

}