.menu-container {
    position: relative;
}

.menu-body {
    display: none;
    position: absolute;
    top: 150%;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    padding: 5px 20px;
}

.menu-body ul {
    list-style: none;
    padding: 0;
}

.menu-body li {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.menu-body ul li {
    padding: 10px;
}

.menu-body a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.menu-body a:hover {
    color: #007BFF;
}