@import 'header';
@import 'body';
@import 'modal';
@import 'menu';

* {
    font-family: 'Inter', sans-serif;
}

.lander-container {
    margin-right: 20px;
    margin-left: 20px;

}

@media screen and (min-width: 440px) {
    .lander-container {
        margin-right: 120px;
        margin-left: 120px;
    }
}

@media screen and (min-width: 1320px) {
    .lander-container {
        margin-right: 200px;
        margin-left: 200px;
    }
}